NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c21hcnQtYmx1ZWJpcmQtODMuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_tnjsLV6AAB6hkXGsOV6GjYIDQAoL35Y2KeLS2xVrMZ